<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Page d'accueil</title>
  <link rel="stylesheet" href="../static/home.css">
</head>
<body>
  <h1>Bienvenue sur la page d'accueil</h1>
  <div class="links">
    <a href="http://localhost:8000/bar" class="button">Inventaire du Bar</a>
    <a href="http://localhost:8000/stock" class="button">Inventaire du Stock</a>
  </div>
  <div class="links">
    <a href="http://localhost:8000/bar/rapport_exel/" class="button" target="_blank">Rapport Excel du bar</a>
    <a href="http://localhost:8000/stock/rapport_exel/" class="button" target="_blank">Rapport Excel du stock</a>
  </div>
</body>
</html>
